.footer1{
	border-bottom: 0.1px solid #ffffff25;
	padding: 10px 22px;

}
.footer1 > div{
	margin-top: 30px;
}
.aboutus{
	font-family: Poppins;
	
}
.ul{
	margin: 0 10px;
	padding: 0;
	list-style: none;
}
.footer_header{
	margin: 0 0 16px 0;
	font-size: 20px;
	font-weight: 500;
	color: #e25625;
}
.company{
	margin-right: 20px;
}
.col2{
	display:flex;
	justify-content: space-between;
}
.col2 > div{
	width: 50%;
}
a{
	color: white;
	text-decoration: none;
}
.follow{
	min-width: 170px;
}
.follow > div{
	margin:0 5px;
	display: inline-block;
	height: 48px;
	width: 48px;
	border-radius: 24px;
	background: white;
}
.footer_section{
	font-size: 14px;
	color: white;
	text-align: left;
	background-color: #222;
	margin-bottom: 60px;
}
.footer2{
	padding: 30px 10px;
	border-bottom: 0.1px solid #ffffff25;
}
.footer2 ul{
	display: block;
}
.footer2 >ul >li{
	margin:40px 0;
}
.copyright{
	padding: 30px;
	text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #C7C7C7;
    margin-top: 0px;
    display: block;
}

@media screen and (min-width: 770px){
	.aboutus{
		max-width: 234px;
	}
	.footer2 ul{
		display: inline-flex;
	justify-content: space-around;
	}
	.footer_section{
		padding: 40px 90px 0 90px;
		margin-bottom: 0;
	}
	.footer1{
		padding: 0 0 22px 0;
		display: flex;
		justify-content: space-between;
	}
	.footer2{
		padding: 30px 0;
	}
}