.services{
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}
.services img{
	margin: auto;
	height: 50px;
}
.services > div >div{
	margin: 20px;
	letter-spacing: 0px;
    color: #525252;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100px;
}
.services > div >div >div{
	width: 100px;
}
.section{
	min-height: 320px;
	padding: 20px 10px 50px 10px;
}
.wwd{
	text-align: left;
}
.wwd_head{
	letter-spacing: 0px;
    color: #2E2E2E;
    font: normal normal bold 24px Poppins;
}
.wwd_lead{
	letter-spacing: 0px;
    color: #525252;
    opacity: 1;
    font: normal normal 600 18px Poppins;
    margin-top: 15px;
}
.wwd_lead2{
    font: normal normal normal 14px/20px Poppins;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
    margin-top: 10px;
}
.wwd_body{
    font: normal normal normal 16px/22px Poppins;
    letter-spacing: 0px;
    color: #525252;
    opacity: 1;
}
.button{
	border:none;
	outline: none;
	width: 170px;
    height: 50px;
    margin-top: 15px;
    color: #fff;
    background: #e25625;
    border-radius: 10px;
}

@media screen and (min-width:770px){
	.section{
		padding: 40px 90px;
		display: flex;
	}
	.section > div > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.section > div{
		margin: auto;
		width: 50%;
		padding: 0 20px;
	}
	.wwd_head{
		font-size: 30px;
	}
	.wwd_lead{
		font-size: 24px;
	}
	.wwd_lead2{
		font-size:16px;
	}
	.wwd_body{
		margin-top: 40px;
		font-size: 14px;
	}
}