.app {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  font-family: Poppins;
}
.topsection{
	background-position: center;
  background-image: url('Assets/about-us.png');
  background-size: cover;
}
.dark_background{
	  height: 400px;
	background:rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 770px){
	.dark_background{
		padding: 0 70px;
	}
}